body {
  background-image: url(../images/interface/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  max-width: 80vw;
}

.header {
  margin-top: 1rem;
  margin-bottom: 2.5rem;
}

.logo {
  width: 100%;
}

.nav {
  width: 100%;
}

.nav-link {
  color: rgba(255, 255, 255, 0.8);
  font-weight: bold;
}

.nav-link:hover {
  color: #fff;
}

.active {
  color: rgba(255, 255, 255, 1);
}

.table {
  max-width: 100%;
}

.table-dark {
  background-color: rgba(33, 37, 41, 0.8);
}

.table-dark td,
.table-dark th,
.table-dark thead th {
  border-color: #fff;
  border-bottom: 0;
}

td {
  border-top: 0;
}

.comment-body-content {
  max-width: 250px;
  max-height: 100px;
  overflow-y: auto; 
}

.btn {
  background-color: rgba(255, 255, 255, 0.9);
  color: #000;
}

.btn:hover {
  color: #000;
  text-decoration: underline;
}