body {
  background-image: url(../images/interface/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.table {
  background-color: transparent;
}

table tr:last-child, td:first-child {
  border-bottom-left-radius: 10px;
}

table tr:last-child, td:last-child {
  border-bottom-right-radius: 10px;
}

.logo {
  width: 100%;
}

.nav {
  width: 100%;
}

.nav-link {
  color: rgba(255, 255, 255, 0.8);
  font-weight: bold;
}

.nav-link:hover {
  color: #fff;
}

.active {
  color: rgba(255, 255, 255, 1);
}