{% block body %}

<h3 style="margin: 0;"><span style="font-style: italic;">{{ user.nickname }}</span>,</h3>

<p>Your account has been suspended. You won't be able to log in from now on, and this for an undefinite period.</p>

<p>
  The admin team considered that it was necessary to intervene following an inappropriate attitude or post.
  We considered that you had not respected the charter, therefore we made the decision to ban you.
</p>

<p>If you reckon our decision as unfounded, you can contact us back to discuss it.</p>

<p>
  Regards,
  <br><span style="font-weight: bold;">The Wander Corp Team.</span>
</p>

{% endblock %}