{% block body %}
<h3>Welcome {{ user.nickname }},</h3>
<p>You can now discover our website and its spacemap!</p>

<p>If you're looking for clues, you can browse our user manual at this link:</p>
<a href="http://site.com/usermanual" alt="Link to the user manual.">http://site.com/usermanual</a>
<p>See you soon in the spaceship!</p>

<p>Best regards,</p><br>
<p style="font-weight:bold;">The Wander Corp Team.</p>
{% endblock %}