<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}The Wander{% endblock %}</title>
</head>

<body>
    <main class="container-fluid">
        {% block body %}{% endblock %}
    </main>
</body>

</html>