<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>{% block title %}The Wander{% endblock %}</title>
  <link rel="icon" href="{{ asset('assets/images/interface/favicon.ico') }}" />
  <meta name="viewport" content="width=device-width, user-scalable=no">
  {% block style %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Dosis:300,400,500&display=swap">
  <link rel="stylesheet" href="{{ asset('assets/css/custom.css') }}">
  {% endblock %}
</head>

<body>
  <main class="container">
    {% block header %}
      {% include "layouts/header.html.twig" %}
    {% endblock %}

    {% block body %}{% endblock %}
    {% block javascripts %}{% endblock %}
  </main>
</body>
</html>